{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform},
            {i, "../../deps/lager/include"},
            {i, "deps"}
           ]}.

{deps, [
{'lager', ".*", {git, "https://github.com/basho/lager.git", "master"}},
{'epgsql', ".*", {git, "https://github.com/wg/epgsql.git", "master"}},
]}.
